<table class="min-w-full bg-gray-600 border-2 border-gray-400 text-xs md:text-sm">
    <thead>
        <tr class="w-full bg-gray-800">
            <th class="p-2 border-b">First Name</th>
            <th class="p-2 border-b">Last Name</th>
            <th class="p-2 border-b hidden md:table-cell">Email</th>
            <th class="p-2 border-b hidden md:table-cell">Phone</th>
            <th class="p-2 border-b hidden lg:table-cell">City</th>
            <th class="p-2 border-b hidden lg:table-cell">State</th>
            <th class="p-2 border-b">Actions</th>
        </tr>
    </thead>
        <tbody>
            @for (contact of contactData; track $index) {
            <tr class="border-b border-b-gray-400 text-center">
                <td class="p-2">{{ contact.firstName }}</td>
                <td class="p-2">{{ contact.lastName }}</td>
                <td class="p-2 hidden md:table-cell">{{ maskText(contact.emailAddress) }}</td>
                <td class="p-2 hidden md:table-cell">{{ maskPhoneNumber(contact.phoneNumber) }}</td>
                <td class="p-2 hidden lg:table-cell">{{ maskText(contact.address.city) }}</td>
                <td class="p-2 hidden lg:table-cell">{{ contact.address.state }}</td>
                <td class="p-2 flex gap-4 justify-center">
                    <button (click)="onView(contactData[$index])"><i class="fa-solid fa-eye"></i></button>
                    <button (click)="onEdit(contactData[$index])"><i class="fa-solid fa-pencil"></i></button>
                    <button (click)="onDelete(contactData[$index])"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
            } @empty {
                <tr>
                    <td class="p-2 text-center" colspan="7">Nothing to see here!</td>
                </tr>
            }
        </tbody>
</table>